* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
}

.pg1-body {
  background-image: url("apple_pictures/laptop.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.navbar {
  background-color: rgb(59, 59, 59);
  margin-bottom: 100px;
}

.hero-container {
  display: flex;
  text-align: center;
}

.solutions-container {
  background-color: blue;
}

ul li {
  list-style: none;
  margin-right: 35px;
}

.macbook-div {
  background-image: url("apple_pictures/computer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media (min-width: 992px) {
  .navbar {
    height: 50px;
  }
}

.nabar-toggler {
  padding-bottom: 10px;
}

.fa-apple {
  font-size: 16px;
}

.mobile-apple-logo {
  font-size: 20px;
  color: #f5f5f7;
  margin-right: auto;
  margin-left: auto;
  padding-right: 35px;
}

.mobile-bag-logo {
  color: #f5f5f7;
}

@media (min-width: 991px) {
  .mobile-apple-logo {
    display: none;
  }
  .mobile-bag-logo {
    display: none;
  }
}

.nav-item {
  font-size: 12px;
  color: #f5f5f7;
  padding: 10px;
}

.ribbon {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  height: auto;
  flex-wrap: wrap-reverse;
  background-color: #ececec;
}

@media (max-width: 991px) {
  span {
    text-align: center;
    width: 80%;
    font-size: 14px;
  }
}

@media (max-width: 692px) {
  span {
    width: 350px;
    padding: 5px;
  }
}

@media (max-width: 491px) {
  span {
    width: 350px;
    padding: 5px;
  }
}

span {
  font-size: 14px;
  align-self: center;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  flex-direction: column;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  padding-top: 25px;
  font-size: 56px;
}

.pro-text {
  font-size: 30px;
  margin-top: -15px;
}

.learn-more {
  padding-right: 10px;
}

.img-container {
  margin-top: 15px;
  display: flex;
  padding-bottom: 10px;
  z-index: 1;
}

.hero-pic {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 65%;
  overflow: hidden;
}

.hero-pic-2 {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

.preorder {
  color: rgb(151, 151, 151);
  margin-top: -10px;
}

.hero-pic-3 {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
}

.hero-pic-4 {
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
  float: left;
}

.col-text {
  font-size: 20px;
  margin-top: -10px;
}

.col-preorder {
  font-size: 12px;
  color: rgb(151, 151, 151);
  margin-top: -15px;
}

.homepod-div {
  margin-top: 50px;
}

.watch-apple {
  font-size: 45px;
}
